 /* Fonts 
font-family: 'Nunito Sans', sans-serif;
font-family: 'Roboto Mono', monospace;
*/
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root {
  /* Deep blue color scheme */
  --off-white: rgb(238, 238, 238);

  /* Dark gray color scheme */
  --dark-gray: rgb(56, 72, 85);
  --mid-dark-gray: rgb(69, 91, 112);
  --mid-gray: rgb(47, 91, 129);
  --mid-light-gray: rgb(168, 186, 199);
  --gradient-gray: rgb(167, 186, 204);
  --light-gray: rgb(233, 238, 243);
  --light-blue: rgb(118, 219, 255);
  --mid-blue: rgb(1, 162, 221);
  --dark-blue: rgb(0, 151, 206);

  --correct-green: rgb(0, 190, 79);
  --correct-dark-green: rgb(0, 104, 47);
  --correct-bg: rgb(247, 255, 251);
  
  --incorrect-red: rgb(216, 14, 14);
  --incorrect-dark-red: rgb(172, 5, 5);
  --incorrect-bg: rgb(255, 244, 244);
}
 
* {
  padding: 0;
  margin: 0;
  /* border: 1px solid pink; */
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* Set font size for easy rem calculations
 * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
*/
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
}

@media (min-width: 450px) {
  html {
    font-size: 65%;
  }
}

@media (min-width: 888px) {
  html {
    font-size: 67.5%;
  }
}

@media (min-width: 1280px) {
  html {
    font-size: 70%;
  }
}

body {
 font-family: 'Nunito Sans', sans-serif;
 background-color: var(--gradient-gray);
 color: var(--dark-gray);
 min-height: 100vh;
 position: relative;
 display: flex;
 flex-direction: column;
}

@media (min-width: 450px) {
  body {
    background: var(--gradient-gray);
    background-image: 
      linear-gradient(
        0deg, rgb(167, 186, 204) 0%, 
      rgba(227, 233, 240,1) 25%, 
      rgba(255, 255, 255, 1) 100%);
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  pointer-events: none;
}

button {
  width: 100%;
  font-size: 1.85rem;
  letter-spacing: 1px;
  color: #fff;
  background-color: var(--dark-blue);
  border: 1px solid var(--mid-dark-gray);
  border-top: none;
  cursor: pointer;
  border-radius: 1rem;
  padding: 1.7rem;
  transition: all 300ms;
}

button:hover,
button:focus {
  background-color: var(--mid-blue);
  text-shadow: 1px 1px 3px rgb(0, 0, 0, 0.4);
}

/* Modals */
.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(50, 50, 50, 0.8);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  z-index: 3;
  transform: scale(0);
  transition: all 300ms ease-in-out;
}

.modal.active {
  transform: scale(1);
  opacity: 1;
}

#modal-content, #end-modal-content {
  position: absolute;
  top: 10%;
  width: 90%;
  max-width: 415px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
  box-shadow: 
    0 .7rem 1.25rem rgba(0, 0, 0, 0.3), 
    0 -1rem 1rem rgba(0, 0, 0, 0.3);
}

#modal-content h1, #end-modal-content h1 {
  text-align: center;
  font-size: 2.2rem;
  font-weight: 100;
  color: #fff;
  text-shadow: 
    0 3px 4px rgba(255, 255, 255, 0.8), 
    0 -3px 4px rgba(255, 255, 255, 0.8);
  padding: 2rem 1.9rem 1.9rem;
  background-color: var(--mid-gray);
}

.modal-inner-background {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  margin: 1.5rem;
  padding: 2.5rem 1.5rem 1.5rem 1.5rem;
  border: 1px solid var(--mid-gray);
  border-top: none;
}

#modal-content h2 {
  color: var(--dark-gray);
  text-align: center;
  font-weight: 600;
  font-size: 1.9rem;
  margin-top: 0.125rem 0;
}

#modal-content ul {
  color: var(--mid-dark-gray);
  margin-bottom: 1.25em;
  list-style-position: inside;
}

#modal-content li {
  font-size: 1.6rem;
  margin: 0.75em;
  list-style-type: 'â— ';
  line-height: 1.5;
}

#modal-content p {
  display: block;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
  padding-top: 2rem;
  margin: 0 1.5rem 2.5rem 1.5rem;
}


/* End of game modal */

#end-modal-content {
  display: none;
  text-align: center;
}

#end-modal-content.active {
  display: block;
}

#end-modal-content h1 {
  letter-spacing: .1rem;
  text-shadow: none;
  font-weight: 400;
  text-shadow: 1px 1px 3px rgb(0, 0, 0, 0.3);
}

/* close icon */
#end-modal-content i {
  position: absolute;
  right: 1.5rem;
  top: 1rem;
  font-size: 2.5rem;
  color: #fff;
  opacity: 0.5;
}

#end-modal-content i:hover,
#end-modal-content i:focus {
  opacity: 0.8;
}

#final-score {
  font-size: 2.8rem;
  font-weight: 400;
  letter-spacing: 2px;
  margin: 0.3rem 0 1.2rem 0;
}

#end-message h2 {
  font-weight: 700;
  font-size: 2.2rem;
}

#end-message p {
  padding: 1.5rem 2rem 2rem 2em;
  font-size: 1.7rem;
  border: none;
  border-bottom: 1px solid var(--mid-light-gray);
}

#share-container h2 {
  font-size: 1.7rem;
  margin-top: 1.75rem;
  margin-bottom: 1.5rem;
}

#share-container a {
  padding: .3rem;
}

.share-icons {
  display: flex;
  justify-content: center;
  margin-bottom: 2.25rem;
}

#end-modal-content.active {
  display: block;
}

@media (max-width: 375px) {
  #modal-content, #end-modal-content {
    top: 8%;
    width: 100%;
  }
}

@media (min-width: 450px) {
  #modal-content, #end-modal-content {
    top: 13%;
  }
}

/* Top bar */

#topbar {
  position: fixed;
  overflow: hidden;
  top: 0;
  color: #fff;
  background-color: var(--mid-dark-gray);
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

#topbar.scroll-shadow {
  box-shadow: 0 2px 5px rgba(0,0,0,0.6);
}

.quiz-title h1 {
  font-size: 1.8rem;
  font-weight: 300;
  color: #fff;
  text-shadow: 
    0 3px 5px rgba(255, 255, 255, 0.8), 
    0 -6px 6px rgba(255, 255, 255, 0.5);
  pointer-events: none;
}

#topbar-links ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

#topbar-links li {
  display: none;
  text-decoration: none;
  color: #fff;
  font-size: 1.4rem;
}

#topbar-links li.active {
  display: block;
}

#topbar-links li a {
  text-decoration: none;
  color: #fff;
  opacity: 0.75;
}

#topbar-links li a:hover,
#topbar-links li a:focus {
  opacity: 1;
}

@media (min-width: 450px) {
  #topbar {
    padding: 0.75rem 2rem;
  }
}

@media (min-width: 1025px) {
  #topbar {
    padding: 0.85rem 2rem;
  }
}

@media (min-width: 1280px) {
  #topbar {
    padding: 0.85rem 2.25rem;
  }
}

/* Scroll to */
#scroll-to {
  display: flex;
  position: relative;
  width: 100%;
  height: 0px;
}

#scroll-to.active {
  padding-top: 0px;
}

/* Quiz content */
#quiz-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-top: 44px;
}

#quiz-content-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

@media (min-width: 666px) {
  .quiz-content-wrapper {
    border: 1px solid var(--mid-light-gray);
    border-radius: 1.25rem;
    background-color: #fff;
    margin: 2rem auto;
    padding: 3rem 8rem 3.5rem;
  }
}

@media (min-width: 888px) {
  .quiz-content-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4rem 4.75rem;
    margin: 3rem auto;
  }
}

@media (min-width: 1025px) {
  .quiz-content-wrapper {
    padding: 4rem 5rem;
    margin: 3rem auto 3.5rem auto;
  }
}

@media (min-width: 1280px) {
  .quiz-content-wrapper {
    padding: 4rem 5.5rem 4.15rem;
    margin: 3rem auto 4rem auto;
  }
}

/* Celebrity image */
#image-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  margin: 0 auto;
  background-color: var(--light-gray);
}

.celebrity-image-container {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  background-color: var(--light-gray);
  border: 1px solid var(--mid-light-gray);
  margin: 1.5rem;
  overflow: hidden;
}

#celebrity-image {
  opacity: 0;
  border: 0.4rem solid #fff;
  align-self: center;
}

.blur-image {
  -webkit-filter: blur(20px);
  filter: blur(20px);
}

#celebrity-image.fade-in {
  animation-name: fadeInImage;
  animation-duration: 750ms;
  animation-fill-mode: forwards;
}

/* Image animation */
@keyframes fadeInImage {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@-webkit-keyframes fadeInImage {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

/* Image media queries */
@media (min-width: 450px) {
  .image-outer-wrapper {
    width: 100%;
    height: auto;
    margin-top: 1.25rem;
  }

  .celebrity-image-container {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 0;
    border: 1px solid var(--mid-light-gray);
    border-bottom: none;
  }

  #celebrity-image {
    border: 0.4rem solid #fff;
    background-color: transparent;
  }
}

@media (min-width: 666px) {
  .image-outer-wrapper {
    margin-top: 0;
  }

  .celebrity-image-container {
    margin: 0 auto;
  }
}

@media (min-width: 888px) {
  .celebrity-image-container {
    min-width: 415px;
    border: 1px solid var(--mid-light-gray);
  }

  #celebrity-image {
    border: 0.5rem solid #fff;
  }
}

@media (min-width: 1025px) {
  .celebrity-image-container {
    min-width: 450px;
  }

  #celebrity-image {
    border: 0.6rem solid #fff;
  }
}

@media (min-width: 1280px) {
  .celebrity-image-container {
    min-width: 470px;
  }

  #celebrity-image {
    border: 0.8rem solid #fff;
  }
}

#hud-multiple-choice-wrapper {
  width: 100%;
}

@media (min-width: 888px) {
  #hud-multiple-choice-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-width: 300px;
    height: auto;
    margin-left: 2.5rem;
    background: var(--light-gray);
  }
}

@media (min-width: 1025px) {
  #hud-multiple-choice-wrapper {
    min-width: 325px;
    margin-left: 3rem;
  }
}

@media (min-width: 1280px) {
  #hud-multiple-choice-wrapper {
    min-width: 335px;
    margin-left: 3.2rem;
  }
}

/* HUD */
.hud-wrapper {
  width: 100%;
}

#hud {
  position: relative;
  color: #fff;
  font-size: 1.65rem;
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem 1rem 1.75rem;
  background-color: var(--mid-dark-gray);
}

.hud-item {
  letter-spacing: .1rem;
}

#progress-text {
  display: none;
  text-align: left;
}

#progress-bar {
  width: 10rem;
  height: 1.4rem;
  border: .1rem solid var(--light-gray);
  background-color: #fff;
}

#progress-bar-full {
  height: 1.2rem;
  width: 0%;
  background-color: var(--mid-blue);
}

#hud-next-arrow {
  position: absolute;
  top: 0.6rem;
  left: 45.75%;
  font-size: 3.2rem;
  visibility: visible;
  opacity: 0.5;
  pointer-events: none;
}

#hud-next-arrow.active {
  opacity: 1;
  color: var(--light-blue);
  pointer-events: auto;
}

#score {
  font-weight: 600;
  letter-spacing: 1px;
}

/* Hud media queries */
@media (min-width: 450px) {
  .hud-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #hud {
    max-width: 400px;
    padding: 1.2rem 2rem 1.2rem 1.75rem;
  }

  #hud-next-arrow {
    top: 0.7rem;
  }
}

@media (min-width: 888px) {
  #hud {
    padding: 1.6rem 1.75rem;
  }

  #hud-next-arrow {
    display: none;
  }
}

@media (min-width: 1025px) {
  #hud {
    padding: 1.85rem 2rem;
  }

  #score {
    font-size: 1.8rem;
  }
}

/* Multiple choice section */
.multiple-choice-wrapper {
  width: 100%;
}

#multiple-choice-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  background: var(--gradient-gray);
  background-image: linear-gradient(
    0deg, rgb(167, 186, 204) 0%, 
    rgba(227, 233, 240,1) 100%);
  }

#answer-items {
  padding: 1rem 1.5rem 2rem;
  width: 100%;
}
 
.choice-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0.5rem;
  width: 100%;
  background-color: white;
  border: 1px solid var(--mid-dark-gray);
  border-top: none;
  transition: all 150ms;
}

.choice-container:hover, .choice-container:focus {
  cursor: pointer;
  box-shadow: 0 .2rem .2rem 0 rgba(0, 0, 0, .4);
  transform: translateY(-0.1rem);
  transition: transform 200ms;
}

.choice-prefix {
  font-family: 'Roboto Mono', monospace;
  font-size: 1.8rem;
  background-color: var(--mid-blue);
  padding: 1.1rem 1.5rem;
  color: #fff;
}

.choice-text {
  color: var(--dark-gray);
  font-size: 1.6rem;
  padding-left: 2.1rem;
  width: 100%;
}

.choice-container.inactive .choice-text {
  color: var(--mid-light-gray);
}

.choice-container.inactive {
  border: 1px solid var(--mid-light-gray);
  border-top: none;
}

.choice-container.correct  {
  border: 1px solid var(--correct-dark-green);
  border-top: none;
  background-color: var(--correct-bg);
}

.choice-container.correct > .choice-prefix {
  background-color: var(--correct-green);
}

.choice-container.correct > .choice-text {
  color: var(--correct-dark-green);
}

.choice-container.incorrect {
  border: 1px solid var(--incorrect-dark-red);
  border-top: none;
  background-color: var(--incorrect-bg);
}

.choice-container.incorrect > .choice-prefix {
  background-color: var(--incorrect-red);
}

.choice-container.incorrect > .choice-text {
  color: var(--incorrect-dark-red);
}

#celebrity-image.fade-in {
  animation-name: fadeInImage;
  animation-duration: 750ms;
  animation-fill-mode: forwards;
}

/* Multiple choice media queries */
@media (min-width: 450px) {
  .multiple-choice-wrapper {
    width: 100%;
  }

  #multiple-choice-container {
    max-width: 400px;
    background: transparent;
  }

  #answer-items {
    padding: 0.7rem 0 2.5rem;
  }

  .choice-text {
    text-align: center;
    padding-left: 0;
    padding-right: 4.8rem;
  }
}

@media (min-width: 666px) {
  
  #multiple-choice-container {
    background: var(--light-gray);
  }

  #answer-items {
    padding-bottom: 0;
  }

  .choice-container.last {
    margin-bottom: 0;
  }
}

@media (min-width: 888px) {
  .choice-text {
    text-align: left;
    padding-left: 2rem;
  }

  .choice-prefix {
    padding: 1.3rem 1.6rem;
  }
}

@media (min-width: 1025px) {
  .choice-container {
    margin-bottom: 0.6rem;
  }
}

@media (min-width: 1280px) {
  .choice-prefix {
    padding: 1.35rem 1.6rem;
  }
}


/* Next button */
.next-btn-container {
  display: none;
}

@media (min-width: 888px) {
  .next-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid var(--mid-light-gray);
    border-top: none;
  }

  #next-btn {
    width: 65%;
    background-color: var(--mid-light-gray);
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.8rem;
  }

  #next-btn span {
    margin-right: 0.5rem;
  }

  #next-btn.active  {
    background-color: var(--mid-blue);
    pointer-events: auto;
    transition: 300ms;
  }

  #next-btn.active:hover i {
    transform: translateX(2px);
  }
}

@media (min-width: 1025px) {
  #next-btn {
    padding: 2rem;
  }
}